NiFi_Flow.json
{"flowContents":{"identifier":"a6423c35-2bb6-3093-881f-67246e20df84","instanceIdentifier":"c820d438-0182-1000-2817-6a67c5a50fba","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"25116d34-5f90-36b4-9a72-e967b13e8569","instanceIdentifier":"c83e2898-0182-1000-c882-b3b85f1889a1","name":"FetchHDFS","comments":"","position":{"x":1512.0,"y":272.0},"type":"org.apache.nifi.processors.hadoop.FetchHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.17.0"},"properties":{"HDFS Filename":"${path}/${filename}","Hadoop Configuration Resources":"/includes/core-site.xml","kerberos-credentials-service":null,"Kerberos Keytab":null,"Additional Classpath Resources":null,"Kerberos Principal":null,"Compression codec":"NONE","kerberos-user-service":null,"Kerberos Relogin Period":"4 hours"},"propertyDescriptors":{"HDFS Filename":{"name":"HDFS Filename","displayName":"HDFS Filename","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a6423c35-2bb6-3093-881f-67246e20df84"},{"identifier":"e0a3889f-02a5-393a-9198-1dedcddc5461","instanceIdentifier":"c8220a94-0182-1000-056c-1b2af4f1f0cc","name":"ReplaceText","comments":"","position":{"x":520.0,"y":272.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.17.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"ls /spark/","Evaluation Mode":"Entire text","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a6423c35-2bb6-3093-881f-67246e20df84"},{"identifier":"65b2f730-3131-3a41-a537-c76d4a6e520c","instanceIdentifier":"c8693cb7-0182-1000-0ecc-3036335976ec","name":"PutSFTP","comments":"","position":{"x":1576.0,"y":472.0},"type":"org.apache.nifi.processors.standard.PutSFTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.17.0"},"properties":{"Proxy Host":null,"Remote Owner":null,"Port":"2222","proxy-configuration-service":null,"Create Directory":"true","Conflict Resolution":"NONE","Ciphers Allowed":null,"Disable Directory Listing":"true","Temporary Filename":null,"Remote Group":null,"Proxy Type":"DIRECT","Connection Timeout":"30 sec","Permissions":null,"Dot Rename":"true","Last Modified Time":null,"Strict Host Key Checking":"false","Http Proxy Username":null,"Hostname":"edge-1","Reject Zero-Byte Files":"true","Remote Path":"/mnt/shared/nifi-out/","Host Key File":null,"Use Compression":"false","Message Authentication Codes Allowed":null,"Send Keep Alive On Timeout":"true","Proxy Port":null,"Data Timeout":"30 sec","Private Key Path":null,"Username":"root","Batch Size":"500","Key Exchange Algorithms Allowed":null,"Key Algorithms Allowed":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Http Proxy Password":{"name":"Http Proxy Password","displayName":"Http Proxy Password","identifiesControllerService":false,"sensitive":true},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Create Directory":{"name":"Create Directory","displayName":"Create Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution":{"name":"Conflict Resolution","displayName":"Conflict Resolution","identifiesControllerService":false,"sensitive":false},"Ciphers Allowed":{"name":"Ciphers Allowed","displayName":"Ciphers Allowed","identifiesControllerService":false,"sensitive":false},"Disable Directory Listing":{"name":"Disable Directory Listing","displayName":"Disable Directory Listing","identifiesControllerService":false,"sensitive":false},"Temporary Filename":{"name":"Temporary Filename","displayName":"Temporary Filename","identifiesControllerService":false,"sensitive":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Private Key Passphrase":{"name":"Private Key Passphrase","displayName":"Private Key Passphrase","identifiesControllerService":false,"sensitive":true},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Dot Rename":{"name":"Dot Rename","displayName":"Dot Rename","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Strict Host Key Checking":{"name":"Strict Host Key Checking","displayName":"Strict Host Key Checking","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"Http Proxy Username":{"name":"Http Proxy Username","displayName":"Http Proxy Username","identifiesControllerService":false,"sensitive":false},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false},"Reject Zero-Byte Files":{"name":"Reject Zero-Byte Files","displayName":"Reject Zero-Byte Files","identifiesControllerService":false,"sensitive":false},"Remote Path":{"name":"Remote Path","displayName":"Remote Path","identifiesControllerService":false,"sensitive":false},"Host Key File":{"name":"Host Key File","displayName":"Host Key File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Use Compression":{"name":"Use Compression","displayName":"Use Compression","identifiesControllerService":false,"sensitive":false},"Message Authentication Codes Allowed":{"name":"Message Authentication Codes Allowed","displayName":"Message Authentication Codes Allowed","identifiesControllerService":false,"sensitive":false},"Send Keep Alive On Timeout":{"name":"Send Keep Alive On Timeout","displayName":"Send Keep Alive On Timeout","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"Data Timeout":{"name":"Data Timeout","displayName":"Data Timeout","identifiesControllerService":false,"sensitive":false},"Private Key Path":{"name":"Private Key Path","displayName":"Private Key Path","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Key Exchange Algorithms Allowed":{"name":"Key Exchange Algorithms Allowed","displayName":"Key Exchange Algorithms Allowed","identifiesControllerService":false,"sensitive":false},"Key Algorithms Allowed":{"name":"Key Algorithms Allowed","displayName":"Key Algorithms Allowed","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a6423c35-2bb6-3093-881f-67246e20df84"},{"identifier":"4e3fbe19-162d-376e-a40e-e8726eba9da8","instanceIdentifier":"c8224381-0182-1000-7456-5324ce0be3e0","name":"ExecuteStreamCommand","comments":"","position":{"x":520.0,"y":480.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.17.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":"ssh","Working Directory":null,"Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"-p2222;-T;root@edge-1"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a6423c35-2bb6-3093-881f-67246e20df84"},{"identifier":"6607281e-c5df-35cd-963e-1b10a2bc0337","instanceIdentifier":"c822850a-0182-1000-98eb-9ea5a41ed535","name":"LogAttribute","comments":"","position":{"x":904.0,"y":720.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.17.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a6423c35-2bb6-3093-881f-67246e20df84"},{"identifier":"04e1c63e-4734-3259-a865-14866f257333","instanceIdentifier":"c83b3c7b-0182-1000-72b5-937b2b873441","name":"ListHDFS","comments":"","position":{"x":1512.0,"y":80.0},"type":"org.apache.nifi.processors.hadoop.ListHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.17.0"},"properties":{"Hadoop Configuration Resources":"/includes/core-site.xml","maximum-file-age":null,"record-writer":null,"Additional Classpath Resources":null,"Distributed Cache Service":null,"Recurse Subdirectories":"false","file-filter-mode":"filter-mode-directories-and-files","File Filter":"[^\\.].*","kerberos-credentials-service":null,"Kerberos Keytab":null,"Kerberos Principal":null,"kerberos-user-service":null,"Kerberos Relogin Period":"4 hours","minimum-file-age":null,"Directory":"/user/root/"},"propertyDescriptors":{"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"maximum-file-age":{"name":"maximum-file-age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"file-filter-mode":{"name":"file-filter-mode","displayName":"File Filter Mode","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false},"minimum-file-age":{"name":"minimum-file-age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a6423c35-2bb6-3093-881f-67246e20df84"},{"identifier":"7d650f9d-d064-3654-b584-301506bb19cb","instanceIdentifier":"c821d54a-0182-1000-6e74-5a8bda11908d","name":"GenerateFlowFile","comments":"","position":{"x":512.0,"y":88.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.17.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a6423c35-2bb6-3093-881f-67246e20df84"},{"identifier":"ed947957-beec-36ee-ad9f-f798e15e1a4e","instanceIdentifier":"c83880a1-0182-1000-7656-ff1e27af0148","name":"PutHDFS","comments":"","position":{"x":1136.0,"y":480.0},"type":"org.apache.nifi.processors.hadoop.PutHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.17.0"},"properties":{"Permissions umask":null,"Hadoop Configuration Resources":"/includes/core-site.xml","Remote Owner":null,"Additional Classpath Resources":null,"Compression codec":"NONE","IO Buffer Size":null,"Remote Group":null,"Block Size":null,"kerberos-credentials-service":null,"Kerberos Keytab":null,"Ignore Locality":"false","Kerberos Principal":null,"Replication":null,"kerberos-user-service":null,"writing-strategy":"writeAndRename","Kerberos Relogin Period":"4 hours","Directory":"/user/root/","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Permissions umask":{"name":"Permissions umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"writing-strategy":{"name":"writing-strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a6423c35-2bb6-3093-881f-67246e20df84"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"356d045f-5bb2-32bf-b15e-60fcf9f7a9cd","instanceIdentifier":"c83e34c5-0182-1000-e9c2-e832ca5f7a33","name":"","source":{"id":"04e1c63e-4734-3259-a865-14866f257333","type":"PROCESSOR","groupId":"a6423c35-2bb6-3093-881f-67246e20df84","name":"ListHDFS","comments":"","instanceIdentifier":"c83b3c7b-0182-1000-72b5-937b2b873441"},"destination":{"id":"25116d34-5f90-36b4-9a72-e967b13e8569","type":"PROCESSOR","groupId":"a6423c35-2bb6-3093-881f-67246e20df84","name":"FetchHDFS","comments":"","instanceIdentifier":"c83e2898-0182-1000-c882-b3b85f1889a1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6423c35-2bb6-3093-881f-67246e20df84"},{"identifier":"2d21fcf4-8eb1-370a-a8e6-1565222937d2","instanceIdentifier":"c822a175-0182-1000-768c-ee4fbc648a72","name":"","source":{"id":"4e3fbe19-162d-376e-a40e-e8726eba9da8","type":"PROCESSOR","groupId":"a6423c35-2bb6-3093-881f-67246e20df84","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"c8224381-0182-1000-7456-5324ce0be3e0"},"destination":{"id":"6607281e-c5df-35cd-963e-1b10a2bc0337","type":"PROCESSOR","groupId":"a6423c35-2bb6-3093-881f-67246e20df84","name":"LogAttribute","comments":"","instanceIdentifier":"c822850a-0182-1000-98eb-9ea5a41ed535"},"labelIndex":1,"zIndex":0,"selectedRelationships":["output stream","nonzero status"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6423c35-2bb6-3093-881f-67246e20df84"},{"identifier":"c8a211d7-175f-3568-a596-9e7c2451debb","instanceIdentifier":"c8696b42-0182-1000-e38f-2f5b4530d8c4","name":"","source":{"id":"65b2f730-3131-3a41-a537-c76d4a6e520c","type":"PROCESSOR","groupId":"a6423c35-2bb6-3093-881f-67246e20df84","name":"PutSFTP","comments":"","instanceIdentifier":"c8693cb7-0182-1000-0ecc-3036335976ec"},"destination":{"id":"6607281e-c5df-35cd-963e-1b10a2bc0337","type":"PROCESSOR","groupId":"a6423c35-2bb6-3093-881f-67246e20df84","name":"LogAttribute","comments":"","instanceIdentifier":"c822850a-0182-1000-98eb-9ea5a41ed535"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6423c35-2bb6-3093-881f-67246e20df84"},{"identifier":"8914d6a6-14ad-39e6-83c8-4c0980e3734d","instanceIdentifier":"c86956ab-0182-1000-9981-ded601f0d6e3","name":"","source":{"id":"25116d34-5f90-36b4-9a72-e967b13e8569","type":"PROCESSOR","groupId":"a6423c35-2bb6-3093-881f-67246e20df84","name":"FetchHDFS","comments":"","instanceIdentifier":"c83e2898-0182-1000-c882-b3b85f1889a1"},"destination":{"id":"65b2f730-3131-3a41-a537-c76d4a6e520c","type":"PROCESSOR","groupId":"a6423c35-2bb6-3093-881f-67246e20df84","name":"PutSFTP","comments":"","instanceIdentifier":"c8693cb7-0182-1000-0ecc-3036335976ec"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6423c35-2bb6-3093-881f-67246e20df84"},{"identifier":"d4edd9a9-3cfb-3c0f-876a-8722eb49e2dc","instanceIdentifier":"c838ade3-0182-1000-438a-f4389b3a4fac","name":"","source":{"id":"4e3fbe19-162d-376e-a40e-e8726eba9da8","type":"PROCESSOR","groupId":"a6423c35-2bb6-3093-881f-67246e20df84","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"c8224381-0182-1000-7456-5324ce0be3e0"},"destination":{"id":"ed947957-beec-36ee-ad9f-f798e15e1a4e","type":"PROCESSOR","groupId":"a6423c35-2bb6-3093-881f-67246e20df84","name":"PutHDFS","comments":"","instanceIdentifier":"c83880a1-0182-1000-7656-ff1e27af0148"},"labelIndex":1,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6423c35-2bb6-3093-881f-67246e20df84"},{"identifier":"24d39057-7501-3c0c-8778-c9e2a8051738","instanceIdentifier":"c83eee47-0182-1000-6c50-e5ebc9566a4d","name":"","source":{"id":"25116d34-5f90-36b4-9a72-e967b13e8569","type":"PROCESSOR","groupId":"a6423c35-2bb6-3093-881f-67246e20df84","name":"FetchHDFS","comments":"","instanceIdentifier":"c83e2898-0182-1000-c882-b3b85f1889a1"},"destination":{"id":"25116d34-5f90-36b4-9a72-e967b13e8569","type":"PROCESSOR","groupId":"a6423c35-2bb6-3093-881f-67246e20df84","name":"FetchHDFS","comments":"","instanceIdentifier":"c83e2898-0182-1000-c882-b3b85f1889a1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["comms.failure","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1977.0,"y":311.0},{"x":1977.0,"y":361.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6423c35-2bb6-3093-881f-67246e20df84"},{"identifier":"17017f8c-3c22-325b-9f65-03566782ff0d","instanceIdentifier":"c822571f-0182-1000-b1dd-e7fd96c1e82b","name":"","source":{"id":"7d650f9d-d064-3654-b584-301506bb19cb","type":"PROCESSOR","groupId":"a6423c35-2bb6-3093-881f-67246e20df84","name":"GenerateFlowFile","comments":"","instanceIdentifier":"c821d54a-0182-1000-6e74-5a8bda11908d"},"destination":{"id":"e0a3889f-02a5-393a-9198-1dedcddc5461","type":"PROCESSOR","groupId":"a6423c35-2bb6-3093-881f-67246e20df84","name":"ReplaceText","comments":"","instanceIdentifier":"c8220a94-0182-1000-056c-1b2af4f1f0cc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6423c35-2bb6-3093-881f-67246e20df84"},{"identifier":"556dbc83-059b-31c4-b21e-a777f3349f26","instanceIdentifier":"c8698821-0182-1000-c87c-e27cf004ab80","name":"","source":{"id":"65b2f730-3131-3a41-a537-c76d4a6e520c","type":"PROCESSOR","groupId":"a6423c35-2bb6-3093-881f-67246e20df84","name":"PutSFTP","comments":"","instanceIdentifier":"c8693cb7-0182-1000-0ecc-3036335976ec"},"destination":{"id":"65b2f730-3131-3a41-a537-c76d4a6e520c","type":"PROCESSOR","groupId":"a6423c35-2bb6-3093-881f-67246e20df84","name":"PutSFTP","comments":"","instanceIdentifier":"c8693cb7-0182-1000-0ecc-3036335976ec"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","reject"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2045.0,"y":511.0},{"x":2045.0,"y":561.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6423c35-2bb6-3093-881f-67246e20df84"},{"identifier":"83dfd51c-364c-3145-93a1-5cebe1e6f147","instanceIdentifier":"c83af270-0182-1000-f614-2c36ff266b75","name":"","source":{"id":"ed947957-beec-36ee-ad9f-f798e15e1a4e","type":"PROCESSOR","groupId":"a6423c35-2bb6-3093-881f-67246e20df84","name":"PutHDFS","comments":"","instanceIdentifier":"c83880a1-0182-1000-7656-ff1e27af0148"},"destination":{"id":"6607281e-c5df-35cd-963e-1b10a2bc0337","type":"PROCESSOR","groupId":"a6423c35-2bb6-3093-881f-67246e20df84","name":"LogAttribute","comments":"","instanceIdentifier":"c822850a-0182-1000-98eb-9ea5a41ed535"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6423c35-2bb6-3093-881f-67246e20df84"},{"identifier":"ecf53851-1ba7-37fe-8043-4e3cff8e49e2","instanceIdentifier":"c8226778-0182-1000-fe95-2ac0d9f77c1b","name":"","source":{"id":"e0a3889f-02a5-393a-9198-1dedcddc5461","type":"PROCESSOR","groupId":"a6423c35-2bb6-3093-881f-67246e20df84","name":"ReplaceText","comments":"","instanceIdentifier":"c8220a94-0182-1000-056c-1b2af4f1f0cc"},"destination":{"id":"4e3fbe19-162d-376e-a40e-e8726eba9da8","type":"PROCESSOR","groupId":"a6423c35-2bb6-3093-881f-67246e20df84","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"c8224381-0182-1000-7456-5324ce0be3e0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6423c35-2bb6-3093-881f-67246e20df84"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}